#map_canvas{
    position: absolute;
    height: 100%;
    width: 100%;
}

.hidden{
    display: none;
}

#mapPage #backButton{
    
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 50%;
    
}

.buttonsContainer button{
    margin-left: 5px;
}